body {
  background-image: url("../img/background.jpg");
}

.product {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: rgb(140, 140, 140);
}

#result {
  display: none;
  text-align: center;
  font-size: 36px;
  font-family: 'Bad Script', cursive;
  font-family: 'Amatic SC', cursive;
}

button {
  margin-top: 10px;
}

span {
  background: yellow;
	padding: 3px 0 !important;
	position: relative;
}
